# Configuración de Base de Datos PostgreSQL (Docker)
DB_USER=tu_usuario_aqui
DB_PASSWORD=tu_contraseña_aqui
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fintech_db

# Rutas del Entorno Local (Windows)
HADOOP_HOME_PATH=C:\Ruta\A\Tu\Hadoop
SPARK_TEMP_DIR=C:\Ruta\A\Tu\Carpeta\Temporal